.card {
  width: 300px;
  background-color: var(--dark-background-card-color);
  border: 1px solid var(--dark-outlines-color);
  border-radius: 10px;
  padding: 25px;
}

.card .inputs {
  display: grid;
  grid-row-gap: 15px;
}

.card .inputs input {
  background-color: var(--dark-background-card-color);
  padding: 8px;
  border: 1px solid var(--dark-outlines-color);
  border-radius: 5px;
}

.card .inputs input::placeholder {
  color: var(--dark-placeholder-color);
  font-size: 15px;
  margin-left: 20px;
}

.card .inputs input:focus {
  outline: none;
}

.card .signUpButton button {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background-color: var(--dark-background-buttons-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 40px;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.divider span {
  padding: 0 10px;
  color: #666;
  font-weight: bold;
}

.card .signUpDirectly {
  position: relative;
}

.card .signUpDirectly button:first-child {
  background-color: var(--dark-background-card-color);
  border: 1px solid var(--dark-outlines-color);
}

.card .signUpDirectly button:last-child {
  background-color: var(--dark-github-color);
}

.card .signUpDirectly .googleIcon {
  position: absolute;
  top: 18px;
  left: 10px;
  font-size: 1.5rem;
}

.card .signUpDirectly .githubIcon {
  position: absolute;
  top: 68px;
  left: 10px;
  font-size: 1.5rem;
}

.succesMessageShow {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
  margin: 10px 0;
}

.succesMessageHide {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.loginSucces {
  text-decoration: none;
  color: #4b69fc;
  font-size: 1.1rem;
  transition: all 0.5s ease-in-out;
}

.loginSucces:hover {
  color: #ffffff;
}
